PORT=
DB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
MONNIFY_BASE_URL=
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
DIDIT_API_KEY=
DIDIT_WEBHOOK_SECRET=
DIDIT_WORKFLOW_ID=
DIDIT_CALLBACK_URL=
DIDIT_BASE_URL=
